@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,600);

body {
  background-color: #ff4b38;
}

.clock_body{
  height: 500px;
  width: 500px;
  border-radius: 50%;
  border: 7px solid white;
  color: white;
  margin-left: 200px;
  margin-top: 100px;
  display: flex;
  flex-direction: row-reverse;
}

.hour_hand {
    width: 165px;
    position: relative;
    left: 453px;
    top: 350px;
    background-color: white;
    border-top: 7px solid white;
    transform-origin: left;
    border-radius: 63px;
    /*transform: rotate(270deg);*/
    /*+30deg*/
}

.minute_hand {
    width: 217px;
    position: relative;
    left: 454px;
    top: 340px;
    background-color: white;
    border-top: 4px solid white;
    transform-origin: left;
}
.second_hand {
    width: 233px;
    position: relative;
    left: 454px;
    top: 352px;
    background-color: white;
    border-top: 3px solid white;
    transform-origin: left;
}

.hour {
    margin-bottom: 130px;
    margin-top: 53px;
    margin-left: 82px;
    border: 3px solid white;
    width: 50px;
    border-radius: 50px;
}

.quad {
    margin-right: 15px;
}

.hour.one {
    position: relative;
    right: 92px;
    transform: rotate(126deg);
    bottom: 9px;
}

.hour.two {
    position: relative;
    bottom: 62px;
    transform: rotate(150deg);
    left: -10px;
}

.hour.three {
    position: relative;
    bottom: 88px;
    left: 16px;
}

.hour.four {
    position: relative;
    top: 153px;
    left: 141px;
    transform: rotate(25deg);
}

.hour.five {
    position: relative;
    top: 98px;
    left: 72px;
    transform: rotate(45deg);
}

.hour.seven {
    position: relative;
    top: 97px;
    left: 117px;
    transform: rotate(130deg);
}

.hour.six {
    position: relative;
    top: 138px;
    left: 93px;
    transform: rotate(89deg);
}

.hour.eight {
    position: relative;
    top: 153px;
    right: 104px;
    transform: rotate(156deg);
}

.hour.nine {
    position: relative;
    top: 46px !important;
    right: 53px;
}

.hour.ten {
    position: relative;
    top: 70px;
    left: 51px;
    transform: rotate(20deg);
}

.hour.eleven {
    position: relative;
    bottom: 11px;
    right: 18px;
    transform: rotate(46deg);
}

.hour.twelve{
  position: relative;
  top: 30px;
}

.hour.twelve {
    position: relative;
    top: -32px;
    right: 55px;
    transform: rotate(89deg);
}

.hour.nine {
    position: relative;
    top: 40px;
    right: -19px;
}

.digital_side {
    height: 619px;
    width: 37%;
    background-color: white;
    float: right;
    color: #ff4b38;
    margin-top: 20px;
    margin-right: 33px;
    position: relative;
    bottom: -5px;
    font-family: 'Josefin Sans', sans-serif;
}

h1.digital_time {
    border-top: 61px solid;
    padding: 33px;
    text-align: center;
    letter-spacing: 29px;
    margin-top: 165px;
    border-bottom: 61px solid;
    margin-left: -8px;
    width: 106%;
    left: -6px;
    position: relative;
}

@media screen and (min-width: 768px){
  .jumbotron .h1, .jumbotron h1 {
      font-size: 46px;
  }
}

.btn {
  background-color: black;
}
